.home {
    background-image: url('./back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh; /* Ensures the section covers full viewport height */
}
#image{
    height: 100%;
    
}
/* Custom keyframes for opacity transition */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animation utility classes */
.animate-opacity {
    animation: fadeIn 1s forwards;
}

#stpi_img{
    height: 50%;
    width: 50%;
    padding: auto;
    
}
